@media screen and (max-width: 500px){
  
  .p{
   
    background-color: rgb(84, 54, 94);
    text-align: center;
    width: 400px;
    
  }
 .one{
  border-radius: 4px;
 }
 .ime{
  display: none;
 }
 .nav {
 
  
  width: 100%;
  height: auto;
 }
  header { 
    
    text-align: center;
    font-size: 30px;
  }
  iframe  {
  width: 80%;
  }

  .schedule {
  font-size: 20px;
  width: 80%;
 }
 table, thead, tbody, th, td, tr, caption {
  display: block;
}
caption{
  text-align: center;
}
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
tr {
  margin: 0 0 1rem 0;
}
td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
}

}
@media screen and (min-width: 501px) and (max-width: 767px){
  .nav{
    background-color: #333;
  overflow: hidden;
    width: 100%;
    height: auto;
  }
  .ime img{
     display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  }
 
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  body{
      background-color: darkgrey;
      text-align: center;
  
  }
  .nav{
    width: 100%;
    height: auto;
  }
  .schedule{
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    text-align: center;
  }
}